<!DOCTYPE HTML>
<html>
<head>
<title>域容-网站制作</title>
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}" type="text/css" media="screen" />
<link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/set2.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/skippr.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.stickyNavbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/skippr.min.js') }}"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=PQXAqcfhnu1VPxWCRsF6rXKA"></script>
<style>
	.up{width:54px;height:54px;background:url(static/img/topback.gif) no-repeat 0 0;filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;}
	.up:hover{filter:alpha(Opacity=100);-moz-opacity:1;opacity:1;}
</style>
<script type="text/javascript" src="{{ url_for('static', filename='js/scrolltopcontrol.js') }}"></script>
</head>
<body>

<!-- header -->
	<div class="header scrollto" id="header">
		<div class="header-top">
			<div class="container">
				<div class="head-left">
					<a href=""><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"></a>
				</div>
				<div class="head-right">
					<ul class="number">
						<li><span><i class="phone"> </i> 0370-2918900</span></li>
						<li><a href="mailto:lhzbxx@sjtu.edu.cn"><i class="mail"> </i> lhzbxx@sjtu.edu.cn</a></li>	
						<div class="clearfix"> </div>						
					</ul>
				</div>
				<div class="clearfix"> </div>	
			</div>
		</div>
		<div id="sticky-wrapper">
			<div class="header-bottom">
				<div class="container">
					<div class="head-nav">
						<nav id="nav">
						<span class="menu"> </span>
							<ul class="cl-effect-3 nav navbar-nav">
								<li class="active"><a href="#banner">主页</a></li>
								<li><a href="#our">关于我们</a></li>
								<li><a href="">备用</a></li>
								<li><a href="#employs">产品</a></li>
								<li><a href="#what">新闻</a></li>
								<li><a href="#contact">留言</a></li>
								<div class="clearfix"> </div>
							</ul>
						</nav>
						<!-- script-for-nav -->
						<script>
							$( "span.menu" ).click(function() {
							  $( ".head-nav ul" ).slideToggle(300, function() {
								// Animation complete.
							  });
							});
							$(function () {
								$('#sticky-wrapper').stickyNavbar({
							        activeClass: "active", // Class to be added to highlight nav elements
									sectionSelector: "scrollto", // Class of the section that is interconnected with nav links
									animDuration: 350, // Duration of jQuery animation as well as jQuery scrolling duration
									startAt: 81, // Stick the menu at XXXpx from the top of the this() (nav container)
									easing: "swing", // Easing type if jqueryEffects = true, use jQuery Easing plugin to extend easing types - gsgd.co.uk/sandbox/jquery/easing
									animateCSS: true, // AnimateCSS effect on/off
									animateCSSRepeat: false, // Repeat animation everytime user scrolls
									cssAnimation: "fadeInDown", // AnimateCSS class that will be added to selector
									jqueryEffects: false, // jQuery animation on/off
									jqueryAnim: "slideDown", // jQuery animation type: fadeIn, show or slideDown
									selector: "li", // Selector to which activeClass will be added, either "a" or "li"
									mobile: false, // If false, nav will not stick under viewport width of 480px (default) or user defined mobileWidth
									mobileWidth: 480, // The viewport width (without scrollbar) under which stickyNavbar will not be applied (due user usability on mobile)
									zindex: 9999, // The zindex value to apply to the element: default 9999, other option is "auto"
									stickyModeClass: "sticky", // Class that will be applied to 'this' in sticky mode
									unstickyModeClass: "unsticky" // Class that will be applied to 'this' in non-sticky mode
								});
							});
						</script>
						<!-- script-for-nav --> 
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
<!-- header -->
<!-- 404 -->
	<div class="main">
		<div class="error-404 text-center">
			<h1>404</h1>
			<p>this link dead link</p>
			<a class="b-home" href="index.html">Back to Home</a>
		</div>
	</div>
<!-- 404 -->

<!-- footer-top -->
<div class="footer-top">
	<div class="container">
		<div class="col-md-4 foo-left">
			<a href="index.html"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-responsive" alt="logo"></a>
			<p>这里还是放公司的介绍吧。</p>
			<p>也可以考虑二维码什么的。</p>
		</div>
		<div class="col-md-4 foo-left">
			<h3>其它的重要信息</h3>
			<h6>不拉不拉1</h6>
			<p>XXXXXXXXXXXXXX</p>
			<h6>巴拉巴拉2</h6>
			<p>XXXXXXXXXXXXXX</p>
		</div>
		<div class="col-md-4 foo-left">
			<h3>链接</h3>
			<ul>
				<li class="active"><a href="#banner">主页</a></li>
				<li><a href="#our">关于我们</a></li>
				<li><a href="#employs">产品</a></li>
				<li><a href="#what">新闻</a></li>
				<li><a href="#contact">留言</a></li>
				<div class="clearfix"> </div>		
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- footer-top -->
<!-- footer-bottom -->
<div class="footer-bottom">
	<div class="container">
		<p>Copyrights © 2015 YuRong All rights reserved | Template by <a href="http://w3layouts.com/">&nbsp; lhzbxx</a></p>
	</div>
</div>
<!-- footer-bottom -->
</body>
</html>