<!DOCTYPE HTML>
<html>
<head>
<title>域容-网站制作</title>
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}" type="text/css" media="screen" />
<link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/set2.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/skippr.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.stickyNavbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/skippr.min.js') }}"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=PQXAqcfhnu1VPxWCRsF6rXKA"></script>
<style>
	.up{width:54px;height:54px;background:url(static/img/topback.gif) no-repeat 0 0;filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;}
	.up:hover{filter:alpha(Opacity=100);-moz-opacity:1;opacity:1;}
</style>
<script type="text/javascript" src="{{ url_for('static', filename='js/scrolltopcontrol.js') }}"></script>
</head>
<body>

<!-- header -->
	<div class="header scrollto" id="header">
		<div class="header-top">
			<div class="container">
				<div class="head-left">
					<a href=""><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"></a>
				</div>
				<div class="head-right">
					<ul class="number">
						<li><span><i class="phone"> </i> 0370-2918900</span></li>
						<li><a href="mailto:lhzbxx@sjtu.edu.cn"><i class="mail"> </i> lhzbxx@sjtu.edu.cn</a></li>	
						<div class="clearfix"> </div>						
					</ul>
				</div>
				<div class="clearfix"> </div>	
			</div>
		</div>
		<div id="sticky-wrapper">
			<div class="header-bottom">
				<div class="container">
					<div class="head-nav">
						<nav id="nav">
						<span class="menu"> </span>
							<ul class="cl-effect-3 nav navbar-nav">
								<li class="active"><a href="#banner">主页</a></li>
								<li><a href="#our">关于我们</a></li>
								<li><a href="">备用</a></li>
								<li><a href="#employs">产品</a></li>
								<li><a href="#what">新闻</a></li>
								<li><a href="#contact">留言</a></li>
								<div class="clearfix"> </div>
							</ul>
						</nav>
						<!-- script-for-nav -->
						<script>
							$( "span.menu" ).click(function() {
							  $( ".head-nav ul" ).slideToggle(300, function() {
								// Animation complete.
							  });
							});
							$(function () {
								$('#sticky-wrapper').stickyNavbar({
							        activeClass: "active", // Class to be added to highlight nav elements
									sectionSelector: "scrollto", // Class of the section that is interconnected with nav links
									animDuration: 350, // Duration of jQuery animation as well as jQuery scrolling duration
									startAt: 81, // Stick the menu at XXXpx from the top of the this() (nav container)
									easing: "swing", // Easing type if jqueryEffects = true, use jQuery Easing plugin to extend easing types - gsgd.co.uk/sandbox/jquery/easing
									animateCSS: true, // AnimateCSS effect on/off
									animateCSSRepeat: false, // Repeat animation everytime user scrolls
									cssAnimation: "fadeInDown", // AnimateCSS class that will be added to selector
									jqueryEffects: false, // jQuery animation on/off
									jqueryAnim: "slideDown", // jQuery animation type: fadeIn, show or slideDown
									selector: "li", // Selector to which activeClass will be added, either "a" or "li"
									mobile: false, // If false, nav will not stick under viewport width of 480px (default) or user defined mobileWidth
									mobileWidth: 480, // The viewport width (without scrollbar) under which stickyNavbar will not be applied (due user usability on mobile)
									zindex: 9999, // The zindex value to apply to the element: default 9999, other option is "auto"
									stickyModeClass: "sticky", // Class that will be applied to 'this' in sticky mode
									unstickyModeClass: "unsticky" // Class that will be applied to 'this' in non-sticky mode
								});
							});
						</script>
						<!-- script-for-nav --> 
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
<!-- header -->
<!-- banner -->
	<div class="banner scrollto" id="banner">
		<div id="theTarget" style="width: 100%; height: 666px; position: relative; overflow: hidden">
			<div style="background-image: url(/static/img/banner.jpg)"></div>
			<div style="background-image: url(/static/img/banner.jpg)"></div>
			<div style="background-image: url(/static/img/banner.jpg)"></div>
			<div style="background-image: url(/static/img/banner.jpg)"></div>
			<div style="background-image: url(/static/img/banner.jpg)"></div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#theTarget").skippr({
					transition: 'slide',
					speed: 1000,
					easing: 'easeOutQuart',
					navType: 'block',
					childrenElementType: 'div',
					arrows: true,
					autoPlay: false,
					autoPlayDuration: 5000,
					keyboardOnAlways: true,
					hidePrevious: false
				});
			}); 
		</script>

	    <div class="clearfix"> </div>
		<!-- banner Slider Ends Here -->

	</div>
<!-- banner -->	

<!-- our -->	
	<div class="our scrollto" id="our">
		<div class="container">
			<h5 >关于我们</h5>
			<h2>这里用一句话说我们是干嘛的。</h2>
			<p>这里填一下公司的简介。
			XXXXXXXXXXX,XXXXXXXXXXXXXXXXXXXX.</p>
			<div class="our-top">
				<div class="col-md-4 our-left">
					<i class="best"></i>
					<h3>公司特点1</h3>	
					<p>"XXXXXXXXXXXXXX,XXXXXXXX,XXXXXXXXXXXXXXX,
					XXXXXXXXXXXXXX,XXXXXXXXX.XXXXXXXXXXXXXX,
					XXXXXXXX,XXXXXXXXXXXXXXX,XXXXXXXXXXXXXX."</p>
				</div>
				<div class="col-md-4 our-left">
					<i class="resu"></i>
					<h3>公司特点2</h3>	
					<p>"XXXXXXXXXXXXXX,XXXXXXXX,XXXXXXXXXXXXXXX,
					XXXXXXXXXXXXXX,XXXXXXXXX.XXXXXXXXXXXXXX,
					XXXXXXXX,XXXXXXXXXXXXXXX,XXXXXXXXXXXXXX."</p>
				</div>
				<div class="col-md-4 our-left">
					<i class="interv"></i>
					<h3>公司特点3</h3>	
					<p>"XXXXXXXXXXXXXX,XXXXXXXX,XXXXXXXXXXXXXXX,
					XXXXXXXXXXXXXX,XXXXXXXXX.XXXXXXXXXXXXXX,
					XXXXXXXX,XXXXXXXXXXXXXXX,XXXXXXXXXXXXXX."</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="mission">
			<div class="container">
			<h3>为虾米选择我们？</h3>
				<div class="mission-grids">
					<div class="col-md-6 vission-gride1">
						<div class="col-md-2 vission-lef">
							<div class="data-index">
								<span>1.</span>
							</div>
						</div>
						<div class="col-md-10 visson-text ">
							<h4>更专业的服务</h4>
							<p>XXXXXXXXXXX,XXXXXXXXXXXXXXXXXX,
							XXXXXXXXXXXXXXXXXXXXXXX,XXXXXXXXXXXX.</p>
						</div>
						<div class="clearfix"> </div>  
					</div>
					<div class="col-md-6 vission-gride1">
						<div class="col-md-2 vission-lef">
							<div class="data-index">
								<span>3.</span>
							</div>
						</div>
						<div class="col-md-10 visson-text ">
							<h4>更先进的技术</h4>
							<p>XXXXXXXXXXX,XXXXXXXXXXXXXXXXXX,
							XXXXXXXXXXXXXXXXXXXXXXX,XXXXXXXXXXXX.</p>
						</div>
						<div class="clearfix"> </div>  
					</div>
					<div class="col-md-6 vission-gride1">
						<div class="col-md-2 vission-lef">
							<div class="data-index">
							<span>2.</span>
							</div>
						</div>
						<div class="col-md-10 visson-text ">
							<h4>更便宜的价格</h4>
							<p>XXXXXXXXXXX,XXXXXXXXXXXXXXXXXX,
							XXXXXXXXXXXXXXXXXXXXXXX,XXXXXXXXXXXX.</p>
						</div>
						<div class="clearfix"> </div>  
					</div>
					<div class="col-md-6 vission-gride1">
						<div class="col-md-2 vission-lef">
							<div class="data-index">
								<span>4.</span>
							</div>
						</div>
						<div class="col-md-10 visson-text ">
							<h4>更丰富的经验</h4>
							<p>XXXXXXXXXXX,XXXXXXXXXXXXXXXXXX,
							XXXXXXXXXXXXXXXXXXXXXXX,XXXXXXXXXXXX.</p>
						</div>
						<div class="clearfix"> </div>  
					</div>
					<div class="clearfix"> </div>  
				</div>
			</div>
		</div>
	</div>
<!-- our -->	
<!-- employs -->
	<div class="employs scrollto" id="employs">
		<div class="container">
		<h6 style="color: #202020;
    font-size: 1.4em;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;">我们的产品巴拉巴拉！！！</h6>
		<h3 style="color: #202020;
    font-size: 2.5em;
    font-weight: 800;
    margin: 0.5em 0 0.5em;
    text-align: center;
    text-transform: uppercase;">产品中心</h3>
		<div class="team">
			<div class="product-tabs">
				<!--Horizontal Tab-->
			    <div id="horizontalTab" class="r-tabs">
			        <ul class="r-tabs-nav">
			            <li class="r-tabs-tab r-tabs-state-default"><a href="#tab-1" class="r-tabs-anchor">A型产品</a></li>
						 <li class="r-tabs-tab r-tabs-state-default"><a href="#tab-2" class="r-tabs-anchor">B型产品</a></li>
						 <li class="r-tabs-tab r-tabs-state-default"><a href="#tab-3" class="r-tabs-anchor">C型产品</a></li>
			        </ul>
					<div class="r-tabs-accordion-title r-tabs-state-default">
						<a href="#tab-2" class="r-tabs-anchor"></a>
					</div>
					<div id="tab-2" class="product-complete-info r-tabs-panel r-tabs-state-default" style="overflow: hidden; display: none;">
						<div class="team-top">
							<div class="grid">
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
							</div>
				        </div>
					</div>
					<div class="r-tabs-accordion-title r-tabs-state-default">
						<a href="#tab-3" class="r-tabs-anchor"></a>
					</div>
					<div id="tab-3" class="product-complete-info r-tabs-panel r-tabs-state-default" style="overflow: hidden; display: none;">
						<div class="team-top">
							<div class="grid">
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
							</div>
				        </div>
					</div>
					<div class="r-tabs-accordion-title r-tabs-state-active">
						<a href="#tab-1" class="r-tabs-anchor"></a>
					</div>
					<div id="tab-1" class="product-complete-info r-tabs-panel r-tabs-state-active" style="overflow: hidden; display: block;">
						<div class="team-top">
							<div class="grid">
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
								<figure class="effect-ming">
									<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
									<figcaption>
										<h2>XXX型号 <span>产品名</span></h2>
										<p>产品的一句话介绍，涵盖特点即可。</p>
										<a href="#">查看详情</a>
									</figcaption>			
								</figure>
							</div>
				        </div>
				    </div>
				    <!-- Responsive Tabs JS -->
				    <script src="{{ url_for('static', filename='js/jquery.responsiveTabs.js') }}" type="text/javascript"></script>
				
				    <script type="text/javascript">
				        $(document).ready(function () {
				            $('#horizontalTab').responsiveTabs({
				                rotate: false,
				                startCollapsed: 'accordion',
				                collapsible: 'accordion',
				                setHash: true,
				                disabled: [4,5],
				                activate: function(e, tab) {
				                    $('.info').html('Tab <strong>' + tab.id + '</strong> activated!');
				                }
				            });
				            $('#start-rotation').on('click', function() {
				                $('#horizontalTab').responsiveTabs('active');
				            });
				            $('#stop-rotation').on('click', function() {
				                $('#horizontalTab').responsiveTabs('stopRotation');
				            });
				            $('#start-rotation').on('click', function() {
				                $('#horizontalTab').responsiveTabs('active');
				            });
				            $('.select-tab').on('click', function() {
				                $('#horizontalTab').responsiveTabs('activate', $(this).val());
				            });
				        });
				    </script>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- employs -->
<!-- recnt -->
<!-- 	<div class="recnt">
		<div class="container">
			<h6>Recent jobs</h6>
			<h3>Available jobs for you</h3>
		<div class="col-md-9 rec-left">
			<div class="air">
				<li class="ic-on"><i class="drib"></i></li>
				<li class="wb-dis"><h4>Web Designer</h4><h5>Full Time</h5></li>
				<li class="dr-co"><p>dribble comunity</p></li>
				<li class="sa-pn"><p><i class="bung"> </i>San Franciso, USA</p></li>
				<li class="dolla"><p>14000$</p></li>
				<li class="b-tn">
					<div class="apply_btn">
						<form action="#">
							<input type="submit" value="Apply Now">
						</form>
					</div>
				</li>
				<div class="clearfix"></div>
			</div>
			<div class="air-1">
				<li class="ic-on"><i class="cli"></i></li>
				<li class="wb-dis"><h4>Front End Developer</h4><h5>Full Time</h5></li>
				<li class="dr-co"><p>Jolil Corporation</p></li>
				<li class="sa-pn"><p><i class="bung"> </i>San Franciso, USA</p></li>
				<li class="dolla"><p>14000$</p></li>
				<li class="b-tn"><div class="apply_btn">
								<form action="#">
									<input type="submit" value="Apply Now">
								</form>
							</div></li>
							<div class="clearfix"></div>
			</div>
			<div class="air">
				<li class="ic-on"><i class="facb"></i></li>
				<li class="wb-dis"><h4>HR Manager</h4><h5>Full Time</h5></li>
				<li class="dr-co"><p>Fanta Bevarage</p></li>
				<li class="sa-pn"><p><i class="bung"> </i>Cupertino, CA. USA</p></li>
				<li class="dolla"><p>14000$</p></li>
				<li class="b-tn"><div class="apply_btn">
								<form action="#">
									<input type="submit" value="Apply Now">
								</form>
							</div></li>
							<div class="clearfix"></div>
			</div>
			<div class="air-1">
				<li class="ic-on"><i class="intre"></i></li>
				<li class="wb-dis"><h4>Internship Designer</h4><h5>Part Time</h5></li>
				<li class="dr-co"><p>Beatus Audio</p></li>
				<li class="sa-pn"><p><i class="bung"> </i>San Franciso, USA</p></li>
				<li class="dolla"><p>14000$</p></li>
				<li class="b-tn"><div class="apply_btn">
								<form action="#">
									<input type="submit" value="Apply Now">
								</form>
							</div></li>
							<div class="clearfix"></div>
			</div>
			<div class="air">
				<li class="ic-on"><i class="wind"></i></li>
				<li class="wb-dis"><h4>Sowtware Engineer</h4><h5>Full Time</h5></li>
				<li class="dr-co"><p>Microsoft </p></li>
				<li class="sa-pn"><p><i class="bung"> </i>Cupertino, CA. USA</p></li>
				<li class="dolla"><p>14000$</p></li>
				<li class="b-tn"><div class="apply_btn">
								<form action="#">
									<input type="submit" value="Apply Now">
								</form>
							</div></li>
							<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-3 recent-right">
			<div class="recent-right-info">
				<h3>Seeking a job?</h3>
				<div class="cre_btn">
								<form action="register.html">
									<input type="submit" value="Create a Account">
								</form>
							</div>
			</div>
		</div>
		<div class="clearfix"></div>
		</div>
	</div> -->
<!-- recnt -->
<!-- what -->
	<div class="what scrollto" id="what">
		<div class="container">
			<h6>公司动态、技术前沿、招聘信息......</h6>
			<h3>新闻中心</h3>
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
						<div class="what-top">
							<p>Jobify offer an amazing service and I couldn’t be happier! They are dedicated to helping recruiters find great candidates, wonderful service!</p>
							<h5>Eftakher Alam,<span> Product Designer</span></h5>
							<div class="what-bottom">
							<img src="{{ url_for('static', filename='img/man.png') }}" class="img-responsive" alt="">
						</div>
						</div>
						
						</li>
						<li>
							<div class="what-top">
							<p>Jobify offer an amazing service and I couldn’t be happier! They are dedicated to helping recruiters find great candidates, wonderful service!</p>
							<h5>Eftakher Alam,<span> Product Designer</span></h5>
							<div class="what-bottom">
							<img src="{{ url_for('static', filename='img/man.png') }}" class="img-responsive" alt="">
						</div>
						</div>
						
						</li>
						<li>
							<div class="what-top">
							<p>Jobify offer an amazing service and I couldn’t be happier! They are dedicated to helping recruiters find great candidates, wonderful service!</p>
							<h5>Eftakher Alam,<span> Product Designer</span></h5>
						<div class="what-bottom">
							<img src="{{ url_for('static', filename='img/man.png') }}" class="img-responsive" alt="">
						</div>
					</div>
						
						</li>
						<li>
						<div class="what-top">
							<p>Jobify offer an amazing service and I couldn’t be happier! They are dedicated to helping recruiters find great candidates, wonderful service!</p>
							<h5>Eftakher Alam,<span> Product Designer</span></h5>
						<div class="what-bottom">
							<img src="{{ url_for('static', filename='img/man.png') }}" class="img-responsive" alt="">
						</div>
						</div>
						
						</li>
						<div class="clearfix"> </div>
					</ul>
				</div>
			</section>
			<!-- FlexSlider -->
			<script defer src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
			<script type="text/javascript">
				$(function(){
					// SyntaxHighlighter.all();
					});
					$(window).load(function(){
						$('.flexslider').flexslider({
							animation: "slide",
							start: function(slider){
							$('body').removeClass('loading');
						}
					});
				});
			</script>
			<!-- FlexSlider -->

			<div class="team-top">
				<div class="grid">
					<figure class="effect-ming">
						<img src="{{ url_for('static', filename='img/22.jpg') }}" alt="产品图片"/>
						<figcaption>
							<h2>XXX型号 <span>产品名</span></h2>
							<p>产品的一句话介绍，涵盖特点即可。</p>
							<a href="#">查看详情</a>
						</figcaption>
		                <div class="small-text">
		                	<p>这里填写新闻的导语，需要提前存入数据库。</p> 
		                </div>
					</figure>
				</div>
			</div>
		</div>
	</div>
<!-- what -->

<!-- contact -->
	<div class="what scrollto" id="contact">
		<div class="container">
			<h6>您可以填写下面的表单给我们留下宝贵的建议</h6>
			<h3>联系我们</h3>

 			<div class="col-md-8 contact_left">
 				<h4>联系表单</h4>
 				<p>如果您对本站有什么意见或建议，请留言告诉我们。我们的工作需要您的支持和肯定，相信，在您的帮助下，我们的工作会越做越好。</p>
				<form>
					<div class="form_details">
						<input type="text" class="text" value="姓名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '姓名';}">
						<input type="text" class="text" value="联系方式" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '联系方式';}">
						<input type="text" class="text" value="主题" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '主题';}">
						<textarea value="内容" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '内容';}">内容</textarea>
						<div class="clearfix"> </div>
						<div class="sub-button">
							<input type="submit" value="发送信息">
						</div>
					</div>
				</form>
	        </div>
	        <div class="col-md-4 company-right">
	        	<div class="company_ad">
		     		<h3>联系信息</h3>
		     		<span>如果您想直接与我们取得联系，可以选择以下方式。</span>
						<address>
						<p>邮箱: <lable>lhzbxx@sjtu.edu.cn</lable></p>
						<p>电话: 1.306.222.4545</p>
				   		<p>三里屯优衣库试衣间</p>
				   		<p>中国，北京</p>
		   			</address>
		   		</div>
		   		<div class="store">
		   			<h4>实体店信息</h4>
		   			<div class="store-data">
			   			<div class="col-md-6 days">
			   				<p>北京三里屯店</p>
			   				<p>上海闵大荒店</p>
			   				<p>旧金山分店</p>
			   			</div>
			   			<div class="clearfix"> </div>  
			   		</div>
			   	</div>
		   		<br>
		   		<div class="store">
		   			<h4>营业时间</h4>
		   			<div class="store-data">
			   			<div class="col-md-6 days">
			   				<p>星期一 - 星期五</p>
			   				<p>周末</p>
			   				<p>节假日</p>
			   			</div>
			   			<div class="col-md-6 hours">
			   				<p>上午8点 - 下午5点</p>
			   				<p>上午9点 - 下午6点</p>
			   				<p>暂停营业</p>
			   			</div>
			   			<div class="clearfix"> </div>  
		   			</div>
		   		</div>
		    </div>
		</div>
	</div>
<!-- contact -->

<!-- footer-top -->
<div class="footer-top">
	<div class="container">
		<div class="col-md-4 foo-left">
			<a href="index.html"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-responsive" alt="logo"></a>
			<p>这里还是放公司的介绍吧。</p>
			<p>也可以考虑二维码什么的。</p>
		</div>
		<div class="col-md-4 foo-left">
			<h3>其它的重要信息</h3>
			<h6>不拉不拉1</h6>
			<p>XXXXXXXXXXXXXX</p>
			<h6>巴拉巴拉2</h6>
			<p>XXXXXXXXXXXXXX</p>
		</div>
		<div class="col-md-4 foo-left">
			<h3>链接</h3>
			<ul>
				<li class="active"><a href="#banner">主页</a></li>
				<li><a href="#our">关于我们</a></li>
				<li><a href="#employs">产品</a></li>
				<li><a href="#what">新闻</a></li>
				<li><a href="#contact">留言</a></li>
				<div class="clearfix"> </div>		
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- footer-top -->
<!-- footer-bottom -->
	<div class="footer-bottom">
		<div class="container">
			<p>Copyrights © 2015 YuRong All rights reserved | Template by <a href="http://w3layouts.com/">&nbsp; lhzbxx</a></p>
		</div>
	</div>
<!-- footer-bottom -->
</body>
</html>